@import "../abstract/mixins";

.header {
  padding-block: 30px;
  align-items: center;
  position: relative;
  border-bottom: 1px solid black;

  .cart-btn-div {
    margin-left: auto;
  }
  .logo {
    @include media-max($mq-medium) {
      margin-left: 3rem;
    }

    &__text {
      font-size: 28px;
      font-weight: 700;
    }
  }
}

.profile img {
  height: 3rem;
}
